<div id="jobs">
<%= render :partial => 'jobs/list' %>
</div>

<%= periodically_call_remote :update    => 'jobs',
                             :url       => { :controller => :jobs, :action => :list},
                             :frequency => 2.0 %>

<br />

<%= link_to 'New job', new_job_path %>