<div id="tvcontainer" class="yui-navset">
    <ul class="yui-nav">
        <li class="selected"><a href="#tab1"><em>Start Tab</em></a></li>
        <li><a href="#tab2"><em>DataTable Tab</em></a></li>
        <li><a href="#tab3"><em>Another Tab</em></a></li>

    </ul>            
    <div class="yui-content">

        <div id="job_layout">
            <p>Welcome! There is a DataTable in the second Tab.</p>
            <div id="job_table"></div>
            <div id="task_table"></div>
        </div>
        <div id="cattle_table"></div>
        <div id="queue_layout"><p>This is a place holder for the queue.</p></div>
    </div>
</div>

    

<script type="text/javascript">

YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.Basic = function() {
		this.statusFormatter = function(elLiner, oRecord, oColumn, oData){
			if (oRecord.getData("status") == -3) {
				elLiner.innerHTML = "Errored";
			} else if(oRecord.getData("status") == -2) {
				elLiner.innerHTML = "Stopped";
			} else if(oRecord.getData("status") == -1) {
				elLiner.innerHTML = "Paused";
			} else if(oRecord.getData("status") == 0) {
				elLiner.innerHTML = "Waiting";
			} else if(oRecord.getData("status") == 1) {
				elLiner.innerHTML = "Queued";
			} else if(oRecord.getData("status") == 2) {
				elLiner.innerHTML = "Running";
			} else if(oRecord.getData("status") == 3) {
				elLiner.innerHTML = "Finished";
			} else {
				elLiner.innerHTML = oRecord.getData("Unknown");
			}	
		};

        var cattleTableDefs = [
            {key:"id", sortable:true, resizeable:true},
            {key:"hostname", sortable:true, resizeable:true},
            {key:"enabled", resizeable:true},
            {key:"awake", resizeable:true},
            {key:"running", resizeable:true},
            {key:"system", resizeable:true},
            {key:"memory", resizeable:true},
            {key:"ncpus", resizeable:true},
            {key:"processor", resizeable:true}
        ];

        var cattleDataSource = new YAHOO.util.DataSource('cattles.json');
        cattleDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
        cattleDataSource.connXhrMode = "queueRequests";
        cattleDataSource.responseSchema = {
            fields: ["id", "hostname", "enabled", "awake", "running", "system", "memory", "ncpus", "processor"]	
        };

        var cattleDataTable = new YAHOO.widget.DataTable("cattle_table", cattleTableDefs, cattleDataSource, {width: "100%"})

        var jobTableDefs = [
            {key:"id", sortable:true, resizeable:true},
            {key:"name", resizeable:true},
            {key:"status", sortable:true, resizeable:true, formatter:this.statusFormatter},
            {key:"owner", resizeable:true},
        ];

        var jobDataSource = new YAHOO.util.DataSource('jobs.json');
        jobDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
        jobDataSource.connXhrMode = "queueRequests";
        jobDataSource.responseSchema = {
            fields: ["id", "name", "status", "owner"]
        };

        var jobDataTable = new YAHOO.widget.DataTable("job_table",
                jobTableDefs, jobDataSource, {width: "100%"});

        var taskTableDefs = [
            {key:"id", sortable:true, resizeable:true},
            {key:"job_id", resizeable:true},
            {key:"status", sortable:true, resizeable:true, formatter:this.statusFormatter},
            {key:"parent", resizeable:true},
            {key:"command", resizeable:true},
        ];

        var taskDataSource = new YAHOO.util.DataSource('tasks/list/1.json');
        taskDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
        taskDataSource.connXhrMode = "queueRequests";
        taskDataSource.responseSchema = {
            fields: ["id", "job_id", "status", "parent", "command"]
        };

        var taskDataTable = new YAHOO.widget.DataTable("task_table",
                taskTableDefs, taskDataSource, {width: "100%"});

        var myTabView = new YAHOO.widget.TabView("tvcontainer"); 
	     //myTabView.getTab(1).addListener("click", function() {jobDataTable.onShow()});
	     //myTabView.getTab(2).addListener("click", function() {cattleDataTable.onShow()}); 

        return {
            //oJDS: jobDataSource,
            //oJDT: jobDataTable,
            //oCDT: cattleDataTable,
            //oCDS: cattleDataSource,
            oTV: myTabView
      };
    }();
});

</script>
