<a href="#" onclick="jobDataTable.prevPage()">Prev</a>
<a href="#" onclick="jobDataTable.nextPage()">Next</a>
<div id="jobs">
</div>    

<div style="float: right;">
  <div id="tasks" "width: 600px; height: 400px; display: block">
  </div>
</div>

<div style="float: right;">
  <div id="chart" style="width: 600px; height: 400px; display: block">
  </div>
</div>

<script type="text/javascript">
Event.observe(window, 'load', function(){
    function jobSelectCallback(event){
    	data = getJobData(event);
     	url = '/tasks/list/' + data.id + '.json'
    	Effect.Fade('tasks', {afterFinish: function(){taskDataTable.updateTable(url, function(){Effect.Appear('tasks')})}});
        drawGraph();
    }

	function jobMouseoverCallback(event){
		tr = Event.findElement(event, 'tr')
		tr.addClassName("mouseover")
	}

	function jobMouseoutCallback(event){
		tr = Event.findElement(event, 'tr')
		tr.removeClassName("mouseover")
	}

	function callback(event){
		alert(event)
	}

    jobTableDefs = [{ 
    					key: 'id',
    					label: 'ID',
    				},
    				{
    					key: 'name',
    					label: 'Name',
    					clickCallback: jobSelectCallback,
    				},
    				{
    					key: 'priority',
    					label: 'Priority'
    				},
    				{
    					key: 'status',
    					label: 'Status',
    				},
    				{
    					key: 'progress',
    					label: 'Progress'
    				},
    				{
    					key: 'queued',
    					label: 'Queued'
    				},
    				{
    					key: 'running',
    					label: 'Running'
    				},
    				{
    					key: 'finished',
    					label: 'Finished'
    				},
    				{
    					key: 'started',
    					label: 'Started'
    				},
    				{
    					key: 'progress',
    					label: 'Progress'
    				},
    				
    ];

    var jobDataTable = new DataTable('jobs', jobTableDefs, {url : '/jobs/list/1.json'});
    var taskDataTable = new DataTable('tasks', taskTableDefs, {url : '/tasks/list/1.json'});

    new Proto.Menu({
      selector: '#jobs', 
      className: 'context-menu', // this is a class which will be attached to menu container (used for css styling)
      menuItems: jobMenuItems // array of menu items
    })

	function drawGraph(){
	random_data = [[0, Math.floor(Math.random()*200)], [1, Math.floor(Math.random()*200)], [2, Math.floor(Math.random()*200)], [3, Math.floor(Math.random()*200)], [4, Math.floor(Math.random()*200)], [5, Math.floor(Math.random()*200)], [6, Math.floor(Math.random()*200)], [7, Math.floor(Math.random()*200)], [8, Math.floor(Math.random()*200)], [9, Math.floor(Math.random()*200)], [10, Math.floor(Math.random()*200)], [11, Math.floor(Math.random()*200)], [12, Math.floor(Math.random()*200)], [13, Math.floor(Math.random()*200)]];
    new Flotr.draw($('chart'),[
        {data: random_data, label: "Data 1"}   
    ]);
	};
	
    drawGraph();
});
</script>
