<div id="mainlayout" dojoType="dijit.layout.BorderContainer" liveSplitters="false">
        <div id="title" region="top" dojoType="dijit.layout.ContentPane">
                <h1>Page Title</h1>
                <div id="logout"><a href="logout">Log Out</a></div>
        </div>
        <div id="main" dojoType="dijit.layout.BorderContainer" liveSplitters="true" design="sidebar" region="center" persist="true">
                <div id="sectionheader" dojoType="dijit.layout.BorderContainer" region="top">
                        <div dojoType="dijit.layout.ContentPane" id="sectionheadertext" region="center">
                                <h2>Content Pane Title</h2>
                        </div>
                        <div dojoType="dijit.layout.ContentPane" id="searchpanel" region="trailing">
                                <input type="text" id="searchbox" name="q" value="Search" />
                        </div>
                </div>
               
                <div dojoType="dijit.layout.AccordionContainer" minSize="20" id="navigation" region="leading" splitter="true">
                        <div dojoType="dijit.layout.AccordionPane" title="Section 1">
                                hello world
                        </div>
                        <div dojoType="dijit.layout.AccordionPane" title="Section 2">
                                hello world
                        </div>
                        <div dojoType="dijit.layout.AccordionPane" title="Section 3">
                                Hello world
                        </div>
                        <div dojoType="dijit.layout.AccordionPane" title="Section 4">
                                Hello world
                        </div>
                </div>
               
                <div dojoType="dijit.layout.ContentPane" id="content" region="center">
                        <h2>Content Pane</h2>
                </div>
               
        </div>
        <div id="legal" dojoType="dijit.layout.ContentPane" region="bottom">Legal Information</div>
</div>
