<div id="banner"><h1>Lasso</h1></div>
<div id="menu" class="yuimenu">
    <ul>
        <li class="yuimenuitem"><a href="#" class="yuimenuitemlabel">Queue</a></li>
        <li class="yuimenuitem"><a href="#" class="yuimenuitemlable">Cattle</a></li>
    </ul>
</div>
<div id="main">
</div>


<script>

(function() {
    var Dom = YAHOO.util.Dom,
        Event = YAHOO.util.Event;

    Event.onDOMReady(function() {
        var layout = new YAHOO.widget.Layout({
            units: [
                { position: 'top', height: 150, body: 'banner', gutter: '5px', collapse: false, resize: false },
                { position: 'left', width: 200, resize: true, body: 'menu', gutter: '5px', collapse: false },
                { position: 'center', body: 'main', gutter: '5px' }
            ]
        });
        layout.on('render', function() {
            layout.getUnitByPosition('left').on('close', function() {
                closeLeft();
            });
        });
        layout.render();

	var oMenu = new YAHOO.widget.Menu("menu", { fixedcenter: true }); 

	oMenu.render();
    });
})();
</script>

