html, body, #mainDiv {
    width: 100%; height: 100%;
    border: 0; padding: 0; margin: 0;
 }

div.context-menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
	background: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
div.context-menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
	border-width: 0px 0px 1px 0px;
	border-style: dotted;
}

.context-menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
	background: #000000;
}
.context-menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.context-menu li {
	list-style-position: outside;
}


.waiting { 
	color: #FFF600;
	text-transform: capitalize;
	font-weight: bold;
	}

.paused { 
	color: #FFF000;
	text-transform: capitalize;
	font-weight: bold;
	}

.queued { 
	color: #00FFFB;
	text-transform: capitalize;
	font-weight: bold;
	}

.running { 
	color: #00FF06;
	text-transform: capitalize;
	font-weight: bold;
	}

.finished { 
	color: #010099;
	text-transform: capitalize;
	font-weight: bold;
	}

.error {
	color: #C60200;
	text-transform: capitalize;
	font-weight: bold;
}

.odd {
	background-color: #DFDFDF;
}

div.dialog .input-text{
border:1px solid #3b6e22;
color:#666666;
}

div.dialog label{
display:block;
margin-bottom:10px;
color:#555555;
}

div.dialog label span{
display:block;
float:left;
padding-right:6px;
width:70px;
text-align:right;
font-weight:bold;
}

div.dialog .input-submit{
padding:0px 6px;
border:1px solid #333333;
background: #666666;
height:24px;
line-height:24px;
color:#FFFFFF;
font-size:12px;
margin-right:10px;
display:inline-block;
text-decoration:none;
}