table {
	border-collapse: collapse;
}

td {
	padding: 0.5em 1em;
	margin: 0px;
}

th {
	padding: 1em;
	margin: 0px;
}

thead tr {
	border-width: 0px 0px 2px;
	border-style: solid;
}

tr {
	border: 0px;
}

.waiting { 
	color: #FFF600;
	text-transform: capitalize;
	font-weight: bold;
	}

.queued { 
	color: #00FFFB;
	text-transform: capitalize;
	font-weight: bold;
	}

.running { 
	color: #00FF06;
	text-transform: capitalize;
	font-weight: bold;
	}

.finished { 
	color: #010099;
	text-transform: capitalize;
	font-weight: bold;
	}

.odd {
	background-color: #DFDFDF;
}