table {
	border-collapse: collapse;
}

td {
	padding: 0.5em 1em;
	margin: 0px;
}

th {
	padding: 1em;
	margin: 0px;
}

thead tr {
	border-width: 0px 0px 2px;
	border-style: solid;
}

tr {
	border: 0px;
}

div.context-menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
	background: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
div.context-menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
	border-width: 0px 0px 1px 0px;
	border-style: dotted;
}

.context-menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
	background: #000000;
}
.context-menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.context-menu li {
	list-style-position: outside;
}


.waiting { 
	color: #FFF600;
	text-transform: capitalize;
	font-weight: bold;
	}

.paused { 
	color: #FF6600;
	text-transform: capitalize;
	font-weight: bold;
	}

.stopped { 
	color: #CC0000;
	text-transform: capitalize;
	font-weight: bold;
	}

.queued { 
	color: #00FFFB;
	text-transform: capitalize;
	font-weight: bold;
	}

.running { 
	color: #00FF06;
	text-transform: capitalize;
	font-weight: bold;
	}

.finished { 
	color: #010099;
	text-transform: capitalize;
	font-weight: bold;
	}

.error {
	color: #C60200;
	text-transform: capitalize;
	font-weight: bold;
}

.odd {
	background-color: #DFDFDF;
}