<div id='cattle'>
	<%= render :partial => 'cattles/list' %>
</div>
<%= periodically_call_remote :update     => 'cattle',
							:url		=> { :controller => :cattles, :action => :list},
							:frequency  => 5.0 %>
