<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Wrangler: <%= controller.action_name %></title>
  <script type="text/javascript" src="javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous.js?load=builder,effects"></script>
  <script type="text/javascript" src="/javascripts/modalbox.js"></script>
  <script type="text/javascript" src="/javascripts/prototypeUtils.js"></script>
  <script type="text/javascript" src="/javascripts/proto.menu.0.6.js"></script>
  <script type="text/javascript" src="/javascripts/ProtoChart.js"></script>
  <script type="text/javascript" src="/javascripts/flotr.js"></script>
  <!--[if IE]>
  <script language="javascript" type="text/javascript" src="/javascripts/excanvas.js">
  </script>
  <![endif]--> 
  <script type="text/javascript" src="javascripts/app/dialogs.js"></script>
  <script type="text/javascript" src="javascripts/app/datatable.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="stylesheets/modalbox.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/app/datatable.css" type="text/css" media="screen" />
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
